<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">

<!--
  PolicyKit policy for the Factory Desktop Update Manager.

  Allows the factory-update-manager binary to install locally rebuilt
  Debian packages without a password prompt, so the resident
  systemd --user service can apply updates seamlessly.

  Security tradeoff: any process running as the active user could
  trigger a package install through the updater binary. This is
  acceptable for a single-user desktop machine where the user
  explicitly installed Factory Desktop and trusts the updater.
-->

<policyconfig>

  <vendor>Factory Desktop Linux</vendor>
  <vendor_url>https://github.com/ThewindMom/factory-desktop-linux</vendor_url>

  <action id="org.factory.desktop.update-manager.install-deb">
    <description>Install a Factory Desktop update</description>
    <message>Authentication is required to install the Factory Desktop update.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/factory-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-deb</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.factory.desktop.update-manager.rollback-deb">
    <description>Roll back a Factory Desktop update</description>
    <message>Authentication is required to roll back the Factory Desktop update.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/factory-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rollback-deb</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
